services:
  backend:
    image: ${BUILD_IMAGE:-sdc-backend-test}
    build: .
    command: ${TEST_COMMAND}
    env_file:
    - env.sdc.tests
    environment:
      FHIRPATH_MAPPING_SERVICE: http://fhirpath_mapping:8090/parse-template
    links:
      - aidbox
    volumes:
      - .:/app
    depends_on:
      aidbox:
        condition: service_healthy
      fhir-converter:
        condition: service_started
      jute:
        condition: service_started
      fhirpath_mapping:
        condition: service_started
  aidbox:
    image: healthsamurai/aidboxone:stable
    depends_on:
      - aidbox-db
    links:
      - "aidbox-db:database"
    env_file:
      - env.aidbox.tests
    ports:
      - "8181:8080"
    environment:
      AIDBOX_LICENSE: ${TESTS_AIDBOX_LICENSE}
      BOX_INIT_BUNDLE: file:///aidbox-project/initBundle.json
    volumes:
      - ./initBundle.json:/aidbox-project/initBundle.json
    healthcheck:
      test: curl --fail http://localhost:8080/health || exit 1
      interval: 5s
      timeout: 30s
      retries: 50
  aidbox-db:
    image: healthsamurai/aidboxdb:13.2
    environment:
      POSTGRES_USER:     postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB:       devbox
  jute:
    image: bedasoftware/jute-microservice:latest
  fhirpath_mapping:
    image: bedasoftware/fhirpath-extract:main
  fhir-converter:
    image: bedasoftware/aidbox-fhir-converter:main
    links:
      - aidbox
    depends_on:
      aidbox:
        condition: service_healthy
    env_file:
      - env.fhir-converter.tests
