[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
anaconda = "*"
jedi = ">=0.13.0"
json-rpc = ">=1.8.1"
service-factory = ">=0.1.5"
black = "==19.10b0"
pre-commit = "*"
isort = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
pep8 = "*"
flake8 = "*"

[packages]
python-dateutil = "==2.8.0"
funcy = "==1.12"
gunicorn = "==19.9.0"
aiohttp = "==3.6.2"
sentry-sdk = "==0.14.3"
aiocontextvars = "==0.2.2"
coloredlogs = "==10.0"
aidbox-python-sdk = {git = "https://github.com/Aidbox/aidbox-python-sdk.git",ref = "870aab71198e5795587c5714cdec05e0200a02b8"}
fhirpath-py = {git = "https://github.com/beda-software/fhirpath-py.git",ref = "ea8193536dcb02e1bf9fd26023d3a57ed2df964d"}
pytest-aiohttp = "==0.3.0"
pytest-cov = "==2.8.1"
pytest = "==5.3.1"
factory-boy = "==2.12.0"
pytest-factoryboy = "==2.0.3"
pytest-mock = "==2.0.0"
fhir-py = {editable = true,git = "https://github.com/beda-software/fhir-py.git",ref = "60-execute-operation"}

[requires]
python_version = "3.8"
