{ns questionnaire-profile
 import #{beda-emr-core.questionnaire}

 QuestionnaireProfile
 {:zen/tags #{zen.fhir/base-schema zen/schema}
  :zen.fhir/type "Questionnaire"
  :type zen/map
  :zen.fhir/version "0.6.32"
  :confirms #{hl7-fhir-r4-core.Questionnaire/schema beda-emr-core.questionnaire/schema}}}
